.streamlit/
.DS_Store
*.pyc
myenv/
cleanenv/
*.egg-info
__pycache__
.vscode/

# Sphinx documentation builds
docs/build/
*.pyc
# If you use a virtual environment for Sphinx
venv/
.myenv/

# emacs backup files
*~
