attrs==22.2.0
chess==1.10.0
ConfigParser==6.0.1
contextlib2==21.6.0
cryptography==42.0.5
docutils==0.20.1
filelock==3.13.1
HTMLParser==0.0.2
importlib_metadata==6.8.0
ipython==8.12.3
ipywidgets==8.1.1
Jinja2==3.1.3
jnius==1.1.0
keyring==24.3.1
mock==5.1.0
Pillow==9.5.0
Pillow==10.2.0
protobuf==3.20.3
pyOpenSSL==24.0.0
pytest==7.3.1
railroad==0.5.0
redis==4.5.4
setuptools==69.1.0
Sphinx==7.2.6
streamlit==1.31.1
thread==0.1.3
tornado==6.3.3
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
